
h2{

    padding-block: 4rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;

}
input:focus{

    outline: none;

}
.button{

    width: 100%;
    padding-block: .8rem !important;
    border: none;
    background-color: var(--primary-accent-color);
    border-radius: var(--primary-border-radius);
    font-weight: 600;
    color: white;

}
.loginDiv{

    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.95);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

}
.secondaryLogin{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.secondaryLogin > * + *{

    margin-top: .8rem;

}
.flex{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.logo{

    width: 20px;
    height: 20px;

}
/* .login{

    

} */
.login > *{

    display: block;

}
.login * + *{

    margin-top: 1.2rem;

}
.login input{

    border-radius: var(--primary-border-radius);
    border: none;
    font-size: 1rem;
    padding-block: .7rem;
    padding-inline: .8rem;
    width: 20rem;

}
input[type='password']{

    padding-right: 2.5rem;

}
.inputContainer{

    position: relative;

}
.login .button{

    margin-top: 2.5rem !important;

}

.googleSignIn{

    background-color: aliceblue !important;
    color: black !important;

}
.googleSignIn:hover{

    background-color: rgba(255, 255, 255,  .8) !important;

}
.googleSignIn:active{

    background-color: rgba(255, 255, 255,  .6) !important;

}
.signUp{

    margin-top: 30%;
    margin-inline: auto;
    width: fit-content;

}
.signUp span{

    color: var(--primary-accent-color);

}
.passwordIcon{

    position: absolute;
    top: -.4rem;
    right: 3%;

}
.passwordIcon_{

    position: absolute;
    top: -.4rem;
    right: 3%;    

}
.passwordError{

    font-size: .9rem;
    text-align: left;
    padding: 0;
    margin-top: .4rem;
    color: hsl(0, 100%, 45%);
    text-align: center;

}
.errorOutline{

    outline: 1px solid hsl(0, 100%, 45%);

}
